/* Header */

header {
    background-color: #ADD8E6;
}

.logo,
.login {
    background-color: gold;
    padding: 10px;
    width: 150px;
    border: 2px dashed black;
}

.header-container>nav {
    background-color: gold;
    padding: 10px;
    min-width: 50%;
    flex-grow: 1;
    border: 2px dashed black;
}

nav {
    flex-grow: 1;
    min-width: 50%
}

/* Content */

.normal-section {
    height: 500px;
    background-color: #00008B;
    border-bottom: 5px solid lightgray;
}

.normal-box {
    height: 80%;
    border: 2px dashed black;
    background-color: #EE82EE;
    width: 70%;
}

.two-columns {
    height: 700px;
}

.two-columns.white {
    background-color: white;
}

.two-columns.gray {
    background-color: lightgray;
}

.blue-column {
    height: 80%;
    width: calc(100% / 3 * 2);
    background-color: #1E90FF;
    border: 2px dashed black;
}

.pink-column {
    height: 80%;
    width: calc(100% / 3);
    background-color: #FFC0CB;
    border: 2px dashed black;
}

.big-section {
    height: 1000px;
    background-color: lightgray;
}

.big-box {
    height: 90%;
    border: 2px dashed black;
    background-color: green;
    width: 100%;
}

/* footer */

footer {
    background-color: #23272A;
}

.top-footer {
    height: 700px;
    border-bottom: 2px solid gray;
}

.left-nav {
    width: calc(100% / 3);
    height: 93%;
    background-color: #F08080;
    border: 4px dashed black;
}

.right-nav {
    width: calc(100% / 6);
    height: 93%;
    background-color: #20B2AA;
    border: 2px dashed white;
}

.bottom-footer {
    height: 150px;
}

.footer-logo,
.footer-button {
    background-color: #FFB6C1;
    border: 2px dashed black;
    height: 50px;
    width: 100px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}