/* Header */

header {
    background-color: #ADD8E6;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.logo,
.login {
    background-color: gold;
    padding: 10px;
    width: 150px;
    border: 2px dashed black;
}

.header-container>nav {
    background-color: gold;
    padding: 10px;
    min-width: 50%;
    flex-grow: 1;
    border: 2px dashed black;
}

nav {
    flex-grow: 1;
    min-width: 50%
}

/* Content */

.normal-section {
    height: 500px;
    background-color: #00008B;
    border-bottom: 5px solid lightgray;
}

.normal-box {
    height: 80%;
    border: 2px dashed black;
    background-color: #EE82EE;
    width: 70%;
}

.two-columns {
    height: 700px;
}

.two-columns.white {
    background-color: white;
}

.two-columns.gray {
    background-color: lightgray;
}

.blue-column {
    height: 80%;
    width: calc(100% / 3 * 2);
    background-color: #1E90FF;
    border: 2px dashed black;
}

.pink-column {
    height: 80%;
    width: calc(100% / 3);
    background-color: #FFC0CB;
    border: 2px dashed black;
}

.big-section {
    height: 1000px;
    background-color: lightgray;
}

.big-box {
    height: 90%;
    border: 2px dashed black;
    background-color: green;
    width: 100%;
}