/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header-container {
	align-items: center;
	min-height: 80px;
	display: flex;
	background-color: #ADD8E6;
}

.d-flex {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%
}

.d-flex-top {
	display: flex;
	align-items: top;
	justify-content: center;
	height: 100%;
	padding-top: 12px;
}

.d-flex-bottom {
	display: flex;
	align-items: flex-end;
	height: 100%;
	padding-top: 12px;
}

.footer-container {
	background-color: #7FFFD4;
	width: 100%;
	height: 80%;
	justify-content: space-between;
	display: flex;
	align-items: center;

}